body {
    background-color: black;
    color: white;
    font-family: monospace;
    text-align: center;
}

p {
    font-size: 15px;
    padding-bottom: 0;
    margin: 0;
}

b {
    font-size: 20px;
}

.topbar {
    padding-top: 10px;
    display: inline-block;
    height: 50px;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row;
}

.topbar button {
    background-image: linear-gradient(black);
    border: 1px white solid;
    color: white;
    font-family: monospace;
    font-size: 19px;
    font-weight: 550;
    height: 70%;
    width: 90px;
    text-align: center;
    box-shadow: 0 0 0px white;
    transition: all 0.2s;
    user-select: none;
}

.topbar button:hover {
    background-image: linear-gradient(0deg, rgb(95, 95, 95), black, black, rgb(95, 95, 95));
    box-shadow: 0 0 10px white;
    transform: scale(1.02);
}

.point-upgrades {
    height: 200px;
    width: 100%;
    display: inline-block;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row;
    padding-bottom: 6px;
}

.point-upgrades button {
    background-image: linear-gradient(#1c1c1c);
    border: 3px rgb(46, 46, 46) solid;
    color: white;
    font-family: monospace;
    font-size: 13px;
    font-weight: 50;
    height: 100%;
    width: 250px;
    box-shadow: 0 0 0px white;
    transition: all 0.5s;
}

.point-upgrades button .upgrade-content {
    font-family: monospace;
    font-size: 13px;
    font-weight: 50;
    text-align: center;
}

.point-upgrades button .upgrade-header {
    color: grey;
    text-align: left;
    font-size: 10px;
    align-items: start;
    position:absolute;
    top: 15%;
}
.point-upgrades button:hover {
    background-image: linear-gradient(#2c2c2c);
    border: 3px rgb(94, 94, 94) solid;
    box-shadow: 0 0 10px rgb(95, 95, 95);
    transition: all 0.5s;
}
